.App {
  padding-top: 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-wrapper {
  min-height: calc(100vh - 100px);
  box-sizing: border-box;
  overflow: auto;
}

.page-header {
  text-align: center;
  margin-top: 10vh;
}

.form-box {
  width: 90vw;
  max-width: 400px;
  margin: auto;
}