:root {
  --background: rgb(255, 255, 255);
  --background-alt: rgb(245, 245, 245);
  --accent: #CC00FF;
  --accent-alt: rgb(190, 0, 238);
  --primary: #303030;
  --primary-alt: #3f3f3f;
}

.App {
  padding-top: 100px;
  background-color: var(--background);
  color: var(--primary);
}

a {
  text-decoration: none;
  color: inherit;
}

.page-wrapper {
  min-height: calc(100vh - 100px);
  box-sizing: border-box;
  overflow: auto;
}

.page-header {
  text-align: center;
  margin-top: 10vh;
}

.form-box {
  width: 90vw;
  max-width: 400px;
  margin: auto;
}

.accented-text {
  color: var(--accent)
}