.Hashtag {
    overflow: hidden;
    padding: 8px 10px;
}

.Hashtag hr {
    border-width: .5px;
}

.Text {
    margin: 0;
}

.Text span {

}

.DataBox {
    margin: 20px 0 10px;
    position: relative;
}

.DataBox button {
    position: absolute;
    right: 10px;
    bottom: -5px;
}