.TextBox {
    position: static;
    color: var(--primary);
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 18vw; 
    margin: 0;
    font-weight: bold; 
    height: 100%;
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;

    max-width: 900px;
    margin: auto;
}

.TextBox h1 {
    position: static;
    color: var(--primary);
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 17vw; 
    
    font-weight: bold; 
    height: 100%;
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}

@media (min-width: 1200px) {

    .TextBox h1 {
        font-size: 11rem;
    }

}