.Home {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
}

.TextBox {
    position: static;
    color: var(--primary);
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 18vw; 
    margin: 0;
    font-weight: bold; 
    height: 100%;
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;

    max-width: 600px;
    margin: auto;
}

.TextBox h1 {
    position: static;
    color: var(--primary);
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 17vw; 
    margin: 0;
    
    font-weight: bold; 
    height: 100%;
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}

.CTAbox {
    width: 90vw;
    margin: auto;
    max-width: 500px;   
    text-align: center;
    margin-top: 6vh;

    opacity: 0;
    animation: FadeIn 0.5s ease forwards;
    animation-delay: 2.8s;
}

.CTAbox button {

    opacity: 0;
    animation: FadeIn 0.5s ease forwards;
    animation-delay: 3s;
}

@media (min-width: 1200px) {

    .TextBox h1 {
        font-size: 8rem;
    }

}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}