

.Footer {
    height: 110px;
    width: 100vw;
    background-color: var(--background-alt);
    padding-top: 10px;
    text-align: center;
    transition: background-color .3s ease;
}

.Footer h3 {
    margin: 1rem 0;
}