.Navbar {
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;
}

.LogoText {
    position: absolute;
    top: 35px;
    left: 10vw;
    font-size: 1.5rem;
}

.LogoIcon {
    font-size: 2rem;
    font-weight: 600;
}

.LogoIcon img {
    height: 70px;
}

.NavList {
    list-style: none;
    padding-inline-start: 0;

    position: absolute;
    top: 25px;
    right: 4vw;
    overflow: auto;

    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

.NavList li {
    display: inline;
}

.ActiveLink {
    font-weight: 600;
    color: var(--accent);
}